
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gill Sans Extrabold", sans-serif;
}

body{
    height: 100vh;
    background-color:black;
    
   
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color:rgb(221, 201, 134);;
    font-size: 1rem;
}
a:hover {
    color: rgb(80,184,231);
}
/*HEADER*/
header{
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}
span{
    color: rgb(80,184,231);
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
    color: rgb(221, 201, 134);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: black;
    color: rgb(80,184,231);
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20PX;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    
}

.action_btn:hover {
    scale: 1.05;
    color: rgb(221, 201, 134);
}
.action_btn:active {
    scale: 0.95;
}
/*Dropdown Menu*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 02s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}   
.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


.image {
    width: 50%;
    height: 90%;
    position: absolute;
    bottom: 0%;
    left: 5%;
    transform:rotateY(180deg);
}
.image img{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 23%;
    transform: translateX(20);
}


.content {
  
   position: absolute;
   top: 40%;
   right: 8%;
   transform: rotateY(-50%);
   color: rgb(221, 201, 134);
}



.content h4 {
    font-weight: 200;
    font-size: calc(20px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 20px;
    color: rgb(221, 201, 134);
   
}
.content h1{
    font-size: calc(30px + (50 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  margin-bottom: 25px;
  color: rgb(221, 201, 134);
  overflow: hidden;
   white-space: nowrap;
   border-right: 10px  rgb(80,184,231);
   padding-right: 10px;
   animation: typing 3s steps(20) infinite alternate, blink 0.9s infinite;
}
@keyframes typing{
    0% {
        width: 0%;
        visibility: hidden;
    }
    100%{
        width: 100%;
    }

}
@keyframes blink{
    50% {
        border-color: transparent;
    }
    100%{
        border-color: aqua;
    }
}
     

.content p{
    letter-spacing: 5px;
    font-weight: 500;
    font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
    margin-bottom: 20px;
}
.content a{
    background-color: rgb(221, 201, 134);
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 20PX;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    border: 2px solid black;
}




.about {
        width: 100%;
        height: 100vh;
        padding: 100px 0;
        background-image: image-set('imagee/astro.jpg');
        background-position: center;
}
.about-text{
    position: absolute;
    top: 20%;
    left: 3%;
    transform: rotateY(-50%);
    color: rgb(221, 201, 134);
}
.about-text h2{
    font-size: 4rem;
    color: rgb(221, 201, 134);
    overflow: hidden;
   white-space: nowrap;
   border-right: 10px  rgb(80,184,231);
   padding-right: 10px;
   animation: typing 2s steps(30) infinite alternate, blink 0.9s infinite;
}
@keyframes typing{
    0% {
        width: 0%;
        visibility: hidden;
    }
    100%{
        width: 100%;
    }

}
@keyframes blink{
    50% {
        border-color: transparent;
    }
    100%{
        border-color: aqua;
    }
}
.about-text h5{
    width: 550px;
    font-size: 1rem;
    color: rgb(221, 201, 134);
}
.about-text p{
    width: 550px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    color: rgb(221, 201, 134);
    
}
.about-text a{
    background-color: rgb(221, 201, 134);
    color: rgb(80,184,231);
    padding: 13px 13px;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.service {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: image-set('imagee/astro.jpg');
    background-size: contain;
    background-position: center;
    position: absolute;
    
}
.title h2{
    color: rgb(221, 201, 134);
    font-size: 75px;
    width: 100%;
    margin-bottom: 10px auto;
    text-align: center;
}
.title a{
    color: rgb(221, 201, 134);
    position: absolute;
    left: 5%;
    font-size: 13px;
    width: 100%;
    margin-bottom: 10px auto;
    
}
    .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.card {
    height: 60vh;
    width: 350px;
    padding: 15px 30px;
    background:rgba(255, 255, 255, 0.1) ;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 3px solid rgb(221, 201, 134);
}
.card i {
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: rgb(80,184,231);
}
.card h5 {
    color: rgb(221, 201, 134);
    height: auto;
    font-size: 23px;
    margin-bottom: 15px;
}
.fe p {
    color: rgb(80,184,231);
    font-size: 16px;
  
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.be p {
    color: rgb(80,184,231);
    font-size: 16px;
    
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.wd p {
    color: rgb(80,184,231);
    font-size: 16px;
    
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
}
.wd a {
    color: orangered;
    font-size: 12px;
    text-align: center;
}
.skill {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: image-set('imagee/galaxy.jpg');
    background-position: center;
    background-size: contain;
    position: absolute;
    
}

.boxx {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.cardd {
    height: 60vh;
    width: 350px;
    padding: 15px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 3px solid rgb(221, 201, 134);
}
.cardd i {
    font-size: 35px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: rgb(221, 201, 134);
}
.cardd h5 {
    color: rgb(80,184,231);
    height: auto;
    font-size: 23px;
    margin-bottom: 15px;
}

.skill-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(80,184,231);
    font-weight: 400;
}
.skill-bar p {
    text-align: left;
}
.skill-box {
    text-align: right;
    width: 100%;
    background-color: rgb(80,184,231);
}
.html {
    width: 90%;
    background-color: rgb(221, 201, 134);
}
.css {
    width: 80%;
    background-color: rgb(221, 201, 134);
}
.javascript {
    width: 70%;
    background-color: rgb(221, 201, 134);
}
.java {
    width: 90%;
    background-color: rgb(221, 201, 134);
}
.php {
    width: 80%;
    background-color: rgb(221, 201, 134);
}
.api {
    width: 75%;
    background-color: rgb(221, 201, 134);
}
.quarkus {
    width: 65%;
    background-color: rgb(221, 201, 134);
}
.figma {
    width: 65%;
    background-color: rgb(221, 201, 134);
}
.sketch {
    width: 70%;
    background-color: rgb(221, 201, 134);
}
.ps {
    width: 50%;
    background-color: rgb(221, 201, 134);
}
.contact-me {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: image-set("imagee/galaxy.jpg");
    background-size: cover;
    background-position: center;
}
.contact-text h2{
    color: rgb(221, 201, 134);
    
    font-size: 75px;
    width: 100%;
    margin-bottom: 10px auto;
    text-align: center;
  
}
.contact-box{
    color: rgb(80,184,231);
    
}
.contact {
    width: 25%;
    padding: 7px;
    box-sizing: border-box;
    text-align: center;
    float: left;
    background-color: rgba(255, 255, 255, 0.1);
    
}
.contact h4 {
    color: rgb(221, 201, 134);
    font-size: 11px;
    padding-bottom: 9px;
}
.contact p {
    font-size: 11px;
    font-weight: 700;
    
}
.sosial {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    
}
.sosial h2{
    color: rgb(221, 201, 134);
    font-size: 75px;
    width: 100%;
    margin-bottom: 10px auto;
    text-align: center;
    padding-bottom: 50px;
}
.sosial p{
    font-weight: bold;
    padding-bottom: 50px;
    color: rgb(221, 201, 134);
}
.sosial-logo {
    display: grid;
    padding-bottom: 20px;
}
.sosial-logo a{
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 20PX;
    font-size: 10rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    size: 75px;
}

.end {
    position: absolute;
    color: rgb(221, 201, 134);
    bottom: 10px;
    left: 5%;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
 
/*Responsive design*/
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }
    
    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
    .service .box,
    .skill .boxx {
        display: grid;
    }

}
@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

   


    

